<div class="row banner">
    <div class="col-md-3">
        <header>
            <div class="container">
                <h2 style="padding-top: 0%; padding-bottom: 1%">Celpa Crop Market</h2>
            </div>
        </header>
    </div>
    <div class="col-md-2">
            <img src="../../images/ic_celpa.png" width="150" height="100" style="background: white"/>
    </div>
    <div style="margin-top: 1.7%">
        <center>
            <% include nav_tabs.html %>
        </center>
    </div>
</div>

