<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Celpa</title>
    <link href="../css/celpa.css" rel="stylesheet">    
    <link href="../css/bootstrap/3.3.7/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/bootstrap/3.3.7/bootstrap.min.js"></script>    
  </head>
  <body>
      <% include header.html %>
      <div class="container-fluid">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4 class="text-white">Mission</h4>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 well">
                    CELPA, Inc.  is a consulting firm based in Los Baños, Laguna. It is registered under the Securities and Exchange Commission with Registration  No. 2303 OCN – IRC 000279737. 
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4 class="text-white">Commitment</h4>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 well">
                  CELPA, Inc.  was formally organized to help promote economic growth while maintaining a healthy sustainable management of natural resources, particularly forests, as a strategy for community development. It believes that economic objectives can be attained without depleting the stock of natural resources, nor degrading the environment; that natural resources must be conserved, developed, managed and utilized to support the development of communities of the present and future generations.
          </div>
          <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h4 class="text-white">Experience</h4>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 well">
                  The people behind CELPA, Inc.  are motivated professionals with a track record of good performance, reliability and integrity. Their commitment is such that CELPA, Inc.  guarantees its work to deliver the desired and expected output on schedule and of the highest quality.
            </div>
          <div class="col-md-4"></div>
          </div>
      </div>
      <hr>
      <% include footer.html %>
  </body>
</html>